<section class="panel primary">
  <header class="panel-heading bg-primary">
    <h3>Dockflow - Demo shipment</h3>
  </header>
  <div class="panel-body ">

    <div id="app" class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="swiper-container">

              <app-sea-movement  class="swiper-wrapper timeline" [shipment] = 'shipment'></app-sea-movement>

          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="panel-footer text-center">
    <h5>Done by Badis Saidani - email: saidanii.badis@gmail.com</h5>
  </footer>
</section>


